# Convex Backend Configuration
# Paste your Convex Deployment URL below from your Convex dashboard:
# e.g. https://your-project-id.convex.cloud
NEXT_PUBLIC_CONVEX_URL=https://small-lobster-75.eu-west-1.convex.cloud

# Application Settings
NEXT_PUBLIC_CAMPUS_NAME="Iqra University - Chak Shezad Campus"
NEXT_PUBLIC_CAMPUS_CITY="Islamabad, Pakistan"
